Django==5.1.7
djangorestframework==3.15.2
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
Pillow==10.4.0

# PDF export functionality
xhtml2pdf==0.2.15

# Database and deployment
dj-database-url==2.1.0
psycopg2-binary==2.9.9
whitenoise==6.6.0
gunicorn==21.2.0

